@import '../parts/vars';
@import '../parts/tables';

body{

	font-weight: 400;

    & main{
        background-color: #F9F9F9;
    }

    & .address-list{

        margin-bottom: 20px;

        & > div{

            @media(max-width: $large){
                margin-bottom: 20px;
            }

            & label{
                line-height: 1.4em !important;
                display: flex !important;

                &:before{
                    flex-shrink: 0;
                }
            }
        }

        & .address-block{
            display: flex;
    
            & .address{
                width: calc(100% - 40px);
                display: flex;
                
                & label{
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 40px;
                }
            }
    
            & .action{
    
                & a{
                    padding: 5px 0;
                    box-sizing: border-box;
                    width: 40px;
                    height: 40px;
                    opacity: 0;
                }
            }
    
            &:hover{
    
                & .action a{
                    opacity: 1;
                }
            }
        }
    }

    .image-link{
        padding-top: 4px;
        position: relative;

        & .image{
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            background-size: auto 80%;
            background-color: rgba(black, .7);
            border-radius: 8px;
            bottom: calc(100% - 10px);
            z-index: 20;
            pointer-events: none;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .2s, bottom .2s;
			background-repeat: no-repeat;
			background-position: center center;
        }

        &:hover{
            
            text-decoration: underline;

            & .image{
                bottom: 100%;
                opacity: 1;
            }
        }
    }

    & .material-table{
        @include material_table();

        @media(max-width: 450px){
            & thead{
                display: none;
            }
        }
    }

    & .adaptive-table{

        & tr{

            & td{

                &:last-of-type{

                    @media(min-width: $medium){
                        text-align: right;
                    }
                }
            }
        }

        @media(max-width: $medium){

            & .add-cart{
                width: fit-content;
                margin: auto;
            }
        }

        & tbody{

            & tr{

                @media(max-width: $medium){

                    flex-direction: row;
                    flex-wrap: wrap;
    
                    & td{
    
                        flex-shrink: 0;
                        width: 23%;
                        flex-grow: 1;
    
                        &:nth-child(1){
                            width: 100%;
                            padding-bottom: 2rem;
                        }
    
                        &:nth-child(2){
                            order: 2;
                        }
                    }
                }

                @media(max-width: $small){

                    & td{
                        width: 45%;
                    }
                }
            }
        }
    }

    & .order{

        @media(max-width: $large){

            & td{
                text-align: center;
            }
        }
    }

    & .checkout_changeRegionButton{
        margin-bottom: 20px;

        .map-marker{
            height: 18px;
            width: auto;
        }

        & span{
            margin-right: 6px;
        }
    }

    #summary{
    
        margin: 30px 0 60px;
        color: #888;
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        
        & .summary-wrapper{
            @media(max-width: 1200px){
                margin: 60px 0;
                margin-left: auto;
            }
            
            margin-left: auto;
            width: 650px;
            max-width: 100%;
    
            & .top{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                border-bottom: 1px solid $text;
                line-height: 40px;
    
                & .left{
                    flex-grow: 1;
                    white-space: nowrap;
                }
    
                & .right{
                    white-space: nowrap;
                }
            }
    
            & .bottom{
                text-align: right;
                font-size: 24px;
                font-weight: 600;
                margin: 10px 0;
    
                @media(max-width: 700px){
                    text-align: left;
                }
            }
        }
    }

    & #set-password{
        
        &:not(.visible){
            display: none;
        }
    }

    & .form-section-wrapper{

        &.basket-wrapper{
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 100px;

            & .form-section{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
        }

        & .form-section-header{
            // margin: 0;
            margin-bottom: .5vmax;
            font-size: 2rem;
            color: $fogged;
        }

        & .form-section{
            box-sizing: border-box;
            margin: 0;
            padding: 1vmax;
            border-radius: $border-radius;
            background-color: #fff;
            margin-bottom: 2vmax;
            box-shadow: 0 1px 2px rgba(black, .1), 0 2px 4px rgba(black, .1), 0 3px 6px rgba(black, .1), 0 4px 12px rgba(black, .1);

            & .datepicker{
                background-image: url(../../img/calendar-month.svg);
                background-size: 20px auto;
                background-repeat: no-repeat;
                background-position: right 10px center;
            }

            & li{
                & input + label{
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            & #not-recall + label{
                margin-top: 1em;
            }

            & .disclamer{
                font-weight: 300;
                color: $fogged;
                font-size: 16px;
                line-height: 1.4em;
            }

            & h3{
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            & .cart-content{

                flex-grow: 1;

                & .cart-row{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 10px;
                    padding-bottom: 10px;

                    &:not(:last-of-type){
                        border-bottom: 1px solid #D9D9D9;
                    }

                    & .cart-image{

                        width: 20%;
                        margin-right: 20px;

                        & img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    & .cart-info{
                        flex-grow: 1;
                        color: $fogged;
    
                        & .name, & .price{
                            font-weight: 800;
                            color: $text;
                        }
                    }

                    & .cart-action{

                        width: 100%;

                        & .bttn-outline{
                            display: block;
                            margin: auto;
                            width: fit-content;
                        }
                        
                        & .button-wrapper{
                            box-shadow: 0 0 0 1px $primary inset;
                            border-radius: 1rem;
                            display: flex;
                            width: fit-content;
                            margin: auto;

                            & a{
                                display: block;
                                aspect-ratio: 1 / 1;
                                flex-shrink: 0;
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                            }
                        }

                        @media(max-width: $small){
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            & .cart-summary{
                border-top: 1px solid #D9D9D9;
                margin-left: -1vmax;
                width: calc(100% + 2vmax);
                text-align: center;
                font-weight: bold;
                padding-top: 1vmax;

                & .total{
                    font-size: 2rem;
                }
            }
        }

        & .payments{

            display: flex;
            flex-wrap: wrap;

            & .payment-input{

                width: 20%;
                min-width: 200px;
                display: block;
                min-height: 100%;
                flex-grow: 1;

                & input{
                    display: none;

                    & ~ label{
                        border: 2px solid #D9D9D9;
                        display: block;
                        margin: 10px;
                        padding: 30px 15px;
                        border-radius: $border-radius;
                        transition: background-color .2s, box-shadow .2s;
                        height: calc(100% - 20px);
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        line-height: 1.2em;

                        & a{
                            display: inline;
                        }

                        &:before{
                            content: 'Û∞ù•';
                            font-family: 'Material Design Icons';
                            color: #B1B1B1;
                            margin-right: 12px;
                        }
                    }

                    &:checked ~ label{
                        border-color: $primary;
                        box-shadow: 0 5px 10px rgba(black, .2) inset;
                        background-color: #fefefe;

                        &:before{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
