@import '../parts/vars';
@import '../parts/typography';

#main{

	& section{

		&#hero{

			position: relative;

			@media(min-width: $medium){
				min-height: 90vh;
			}
			
			position: relative;
			
			& .lazy{
				width: 100%;
				aspect-ratio: 16 / 7;
				background-size: cover;
				background-position: right center;

				&:before{
					content: '';
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 65%;
					height: 100%;
					background: linear-gradient(to right, white 50%, transparent);
				}
	
				&:after{
					content: '';
					position: absolute;
					display: block;
					bottom: 0;
					left: 0;
					height: 25%;
					width: 100%;
					background: linear-gradient(to bottom, transparent, white 90%);
				}
			}


			& .communication{
				position: absolute;
				z-index: 2;
				width: 40vw;

				@media(max-width: $large){
					width: 400px;
				}

				left: 10vmax;
				top: 20%;

				& h1{
					margin-top: 0;
				}
			}

			& .swiper-pagination{
				transform: translateX(-50%);
				z-index: 200;
				display: flex;
				position: absolute;
				bottom: 4vmax;
				left: 50%;

				@media(max-width: $medium){
					position: relative;
					bottom: unset;
					margin: auto;
					justify-content: center;
				}

				&-bullet{
					display: block;
					width: 1em;
					aspect-ratio: 1 / 1;
					margin: 5px;
					border-radius: 50%;
					background: #ccc;
					cursor: pointer;
					box-shadow: 0 4px 8px rgba(black, .2) inset;
					transition: background-color .4s, box-shadow .4s;

					&-active{
						background-color: $primary;
						box-shadow: none;
					}
				}
			}

			@media(max-width: $medium){

				& .lazy{

					position: relative;
					width: 100%;
					aspect-ratio: 16 / 9;
					background-position: unset;
					background-size: cover;

					&:before{
						display: none;
					}
				}

				& .communication{
					position: initial;
					padding: 20px;
					top: unset;
					left: unset;
				}
			}
		}

		&#categories{

			& .category{

				border-radius: $border-radius;
				display: flex;
				align-items: center;
				background: #fff linear-gradient(to bottom, #fff, #F3F3F3);
				background-position: 0 0;
				overflow: hidden;
				box-shadow: 0 -4px 0 0 $primary inset, 0 2px 6px rgba(black, .4);
				transition: background-position .2s;

				&:hover{
					background-position: 0 90px;
				}

				& .lazy{
					display: block;
					aspect-ratio: 1 / 1;
					height: 7vmax;
					min-height: 120px;
					flex-shrink: 0;
					background-size: contain;
				}

				& .category-info{
					flex-grow: 1;
					padding: 0 20px;

					& .category-name{
						font-weight: 600;
						font-size: 1.6rem;
					}

					& .category-desc{
						color: $fogged;
					}
				}

				@mixin compactCategories{
					flex-direction: column;
					text-align: center;
					align-items: flex-start;

					& .lazy{
						aspect-ratio: unset;
						width: 100%;
						height: unset;
						aspect-ratio: 4 / 2.5;
						object-fit: contain;
						object-position: top left;
					}

					& .category-info{
						border-top: 1px solid #ccc;
						width: 100%;
						padding: 10px 0;
					}

					&:hover{
						background-position: 0 130px;
					}
				}

				@media (max-width: 1500px) and (min-width: 1200px){
					@include compactCategories();
				}

				@media (max-width: 700px) and (min-width: 600px){
					@include compactCategories();
				}
			}
		}

		& .main-water-pagination{
			bottom: -20px;
		}

		& .offers-swiper{

			position: relative;

			& .swiper-slide{
				width: fit-content;
			}
			
			& img{
				height: 400px;
				width: auto;
				border-radius: $border-radius;
			}

			& ~ .swiper-pagination{

				display: flex;
				justify-content: center;
				margin: 20px 0;

				& .swiper-pagination-bullet{
					display: block;
					width: 16px;
					border-radius: 50%;
					aspect-ratio: 1 / 1;
					margin: 0 3px;
					box-shadow: 0 2px 6px rgba(black, .2) inset;
					transition: background-color .2s, box-shadow .2s;

					&.swiper-pagination-bullet-active{
						box-shadow: 0;
						background-color: $primary;
					}
				}
			}

			&:before{
				content: '';
				display: block;
				width: 3vmax;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 20;
				background: linear-gradient(to right, white, transparent);
				pointer-events: none;
				opacity: 0;
			}

			&:after{
				@extend:before;
				background: linear-gradient(to left, white, transparent);
				left: unset;
				right: 0;
				opacity: 1;
			}


		}

		&#easy{

			& .easy-image{
				width: 100%;
				display: block;
				aspect-ratio: 1 / 1;
			}

			& .easy-header{
				@extend h3;
				text-transform: uppercase;
				margin: 20px 0;
			}
		}
	}
}