@import '../parts/vars';
@import '../parts/typography';

#main{

	& section{

		&#hero{

			position: relative;

			@media(min-width: $medium){
				min-height: 90vh;
			}
			
			position: relative;
			
			& .lazy{
				width: 100%;
				aspect-ratio: 16 / 7;
				background-size: cover;
				background-position: right center;

				&:before{
					content: '';
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 65%;
					height: 100%;
					background: linear-gradient(to right, white 50%, transparent);
				}
	
				&:after{
					content: '';
					position: absolute;
					display: block;
					bottom: 0;
					left: 0;
					height: 25%;
					width: 100%;
					background: linear-gradient(to bottom, transparent, white 90%);
				}
			}


			& .communication{
				position: absolute;
				z-index: 2;
				width: 40vw;

				@media(max-width: $large){
					width: 400px;
				}

				left: 10vmax;
				top: 20%;

				& h1{
					margin-top: 0;
				}
			}

			& .swiper-pagination{
				transform: translateX(-50%);
				z-index: 200;
				display: flex;
				position: absolute;
				bottom: 4vmax;
				left: 50%;

				@media(max-width: $medium){
					position: relative;
					bottom: unset;
					margin: auto;
					justify-content: center;
				}

				&-bullet{
					display: block;
					width: .85rem;
					aspect-ratio: 1 / 1;
					margin: 5px;
					border-radius: 50%;
					background: #ccc;
					cursor: pointer;
					box-shadow: 0 4px 8px rgba(black, .2) inset;
					transition: background-color .4s, box-shadow .4s;

					&-active{
						background-color: $primary;
						box-shadow: none;
					}
				}
			}

			@media(max-width: $medium){

				& .lazy{

					position: relative;
					width: 100%;
					aspect-ratio: 1 / 1;
					background-position: unset;
					background-size: cover;
					object-fit: right center;
					background-position: right center;

					&:before{
						display: none;
					}
				}

				& .communication{
					position: initial;
					padding: 20px;
					top: unset;
					left: unset;
					max-width: 100%;
					box-sizing: border-box;
					position: relative;
					z-index: 20;

					& h1{
						font-size: 32px;
					}
				}
			}

			& .main-hero-prev{
				position: absolute;
				top: 25%;
				left: 20px;
				z-index: 20;
				border: 1px solid #fff;
				color: #fff;
				height: 2em;
				line-height: 2em;
				aspect-ratio: 1 / 1;
				text-align: center;
				border-radius: 50%;
				background-color: rgba(#173869, .7);

				@media(min-width: $small){
					display: none;
				}
			}

			& .main-hero-next{
				@extend .main-hero-prev;
				left: unset;
				right: 20px;
			}
		}

		&#categories{

			& .category{

				border-radius: $border-radius;
				display: flex;
				align-items: center;
				background: #fff linear-gradient(to bottom, #fff, #F3F3F3);
				background-position: 0 0;
				overflow: hidden;
				box-shadow: 0 -4px 0 0 $primary inset, 0 2px 6px rgba(black, .4);
				transition: background-position .2s;

				&:hover{
					background-position: 0 90px;
				}

				& .lazy{
					display: block;
					aspect-ratio: 1 / 1;
					height: 7vmax;
					min-height: 120px;
					flex-shrink: 0;
					background-size: contain;
				}

				& .category-info{
					flex-grow: 1;
					padding: 0 20px;

					& .category-name{
						font-weight: 600;
						font-size: 1.6rem;
					}

					& .category-desc{
						color: $fogged;
					}
				}

				@mixin compactCategories{
					flex-direction: column;
					text-align: center;
					align-items: flex-start;

					& .lazy{
						aspect-ratio: unset;
						width: 100%;
						height: unset;
						aspect-ratio: 4 / 2.5;
						object-fit: contain;
						object-position: top left;
					}

					& .category-info{
						border-top: 1px solid #ccc;
						width: 100%;
						padding: 10px 0;
					}

					&:hover{
						background-position: 0 130px;
					}
				}

				@media (max-width: 1500px) and (min-width: 1200px){
					@include compactCategories();
				}

				@media (max-width: 700px) and (min-width: 600px){
					@include compactCategories();
				}
			}
		}

		& .main-water-pagination{
			bottom: -20px;
		}

		&#mobile-app{

			background-color: $primary;
			color: #fff;

			& .desktop-header{
				display: inline-block;

				@media(max-width: 1100px){
					display: none;
				}
			}

			& .mobile-header{
				display: block;

				@media(min-width: 1100px){
					display: none;
				}
			}

			& .text-content{

				@media(max-width: $medium){
					order: 1;
				}
				
				& .desktop-text{

					display: block;

					@media(max-width: 1100px){
						display: none;
					}
				}

				& .mobile-text{
					display: block;

					@media(min-width: 1100px){
						display: none;
					}
				}
			}

			& .row{
				margin: 0;

				& .col{

					padding-bottom: 0;

					& .row{
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
			}

			& h2{
				line-height: 1em;
				margin: 0;
				color: #fff;
				font-size: clamp(1.8em, 2vw, 3em);
			}

			& .section-wrapper{

				height: 100%;

				& .section-image{
					display: block;
					object-fit: cover;
					object-position: right center;

					&.desktop-image{
						@media(max-width: $medium){
							display: none;
						}
					}
				}
				
				& .mobile-image{

					@media(min-width: $medium){
						display: none !important;
					}
				}
			}

			& .store-buttons{
				margin-bottom: 4vmax;

				& a{
					margin: $gutter-width 0;
					display: inline-block;
					margin: 0 5px;

					& img{
						display: block;
						height: 40px;
					}
				}
			}

			& .qrs{

				display: flex;

				& img{
					width: 10vw;
					max-width: 130px;
					display: block;
					margin-right: $gutter-width;
				}
			}
		}

		& .offers-swiper{

			position: relative;

			& .swiper-slide{
				width: fit-content;
			}
			
			& img{
				height: 400px;
				width: auto;
				border-radius: $border-radius;
			}

			& ~ .swiper-pagination{

				display: flex;
				justify-content: center;
				margin: 20px 0;

				& .swiper-pagination-bullet{
					display: block;
					width: .85rem;
					border-radius: 50%;
					aspect-ratio: 1 / 1;
					margin: 5px;
					box-shadow: 0 2px 6px rgba(black, .2) inset;
					transition: background-color .2s, box-shadow .2s;

					&.swiper-pagination-bullet-active{
						box-shadow: 0;
						background-color: $primary;
					}
				}
			}

			&:before{
				content: '';
				display: block;
				width: 3vmax;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 20;
				background: linear-gradient(to right, white, transparent);
				pointer-events: none;
				opacity: 0;
			}

			&:after{
				@extend:before;
				background: linear-gradient(to left, white, transparent);
				left: unset;
				right: 0;
				opacity: 1;
			}


		}

		&#easy{

			& .easy-image{
				width: 100%;
				display: block;
				aspect-ratio: 1 / 1;
			}

			& .easy-header{
				@extend h3;
				text-transform: uppercase;
				margin: 20px 0;
			}
		}
	}
}