@import '../parts/vars';

#product{

	& .product-images{

		background-image: url(../../img/dots.svg);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		margin-top: 40px;

		& .type-icon-wrapper{

			position: absolute;

			& .type-icon{

				width: 60px;
				aspect-ratio: 1 / 1;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;

				&.thawed{
					background-image: url(../../img/thawed.svg);
				}
				
				&.arthesian{
					background-image: url(../../img/arthesian.svg);
				}
			}
		}

		& .swiper{

			& img{
				display: block;
				width: 100%;
				object-fit: contain;
				object-position: center center;
				aspect-ratio: 1 / 1;
			}
		}

		& .entry-pagination{
			display: flex;
			justify-content: center;

			& .swiper-pagination-bullet{
				padding: 10px;

				&:before{
					content: '';
					display: block;
					width: 1rem;
					height: 1rem;
					border-radius: 1rem;
					box-shadow: 0 2px 8px rgba(black, .2) inset;
					background: #eee;
					transition: background-color .2s, box-shadow .2s, width .2s;
				}
				
				&.swiper-pagination-bullet-active{
					
					&:before{
						width: 4rem;
						box-shadow: none;
						background-color: $primary;
					}
				}
			}
		}
	}

	& .product-details{

		transform-style: preserve-3d;

		& h1{

			margin: .2em 0;

			& + p{
				margin: 0;
			}
		}

		& .prices{
	
			display: flex;

			& .price{
				margin: 20px 0;
				margin-right: 10%;
	
				& .price-title{
					font-size: 14px;
				}
	
				& .price-value{
					font-size: 3rem;
					font-weight: 700;

					@media(max-width: $large){
						font-size: calc(2rem + .1vmax);
					}

					& .rur-sign{
						font-weight: 500;
					}
				}
			}
		}

		& .smart-bttn{

			position: relative;
			width: fit-content;
			margin: 1rem 0;
			perspective: 140px;

			& *{
				user-select: none;
			}

			& .avers, & .revers{
				backface-visibility: hidden;
				transition: transform .5s;
			}

			& .avers{

				& .bttn{
					height: 36px;
					line-height: 36px;
					padding: 0 18px;
				}
			}

			& .revers{
				pointer-events: none;
				transform: rotateY(-180deg);
				position: absolute;
				top: 0;
				left: 0;
				background: #fff;
				width: 100%;
				height: 100%;
				box-shadow: 0 0 0 1px $primary inset;
				border-radius: 2rem;
				display: flex;
				align-items: center;
				padding: 2px;

				& .counter-bttn{
					display: block;
					text-align: center;
					border-radius: 50%;
					width: 32px;
					height: 32px;
					line-height: 32px;

					&#plus{
						background: $primary;
						color: #fff;
					}
				}

				& input{
					display: block;
					flex-grow: 1;
					text-align: center;
					& ::-webkit-inner-spin-button,
					& ::-webkit-outer-spin-button{
						display: none;
					}

					&:focus{
						outline: none;
					}
				}
			}

			&.flip{

				& .avers{
					transform: rotateY(180deg);
					pointer-events: none;
				}

				& .revers{
					transform: rotateY(0);
					pointer-events: all;
				}
			}
		}
		 
		& .labels{
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			& .label{
				display: inline-block;
				line-height: 1.4em;
				padding: 0 .75em;
				border-radius: 1.4em;
				margin-right: .75em;
				margin-bottom: .75em;
				white-space: nowrap;
				color: #fff;

				&.new{
					background-color: $success;
				}

				&.bestseller{
					background-color: $orange;
				}
			}
		}
	
		& .note{
	
			margin: 20px 0;
	
			& + .divider{
				width: 80%;
				margin: 40px 0;
			}
		}
	
		& .address-popup-wrapper{
	
			& li{
	
				position: relative;
				width: fit-content;
	
				& .address-popup{
	
					position: absolute;
					padding: 10px;
					border-radius: $border-radius;
					background: #fff;
					left: 40px;
					bottom: 100%;
					transform: translateY(20px);
					opacity: 0;
					pointer-events: none;
					transition: opacity .2s, transform .2s;
					z-index: 20;

					@media(max-width: $medium){
						left: -20px;
						pointer-events: none !important;

						& a{
							display: none;
						}
					}
	
					& .name{
						font-weight: 600;
					}
	
					& .kv-pair{
						display: table-row;
	
						& .key, & .value{
							display: table-cell;
							white-space: nowrap;
						}
	
						& .key{
							padding-right: 10px;
						}
	
						& .value{
							font-weight: 500;
						}
					}
					& a{
						font-weight: 600;
					}
				}
	
				&:hover{
	
					& > a{
						text-decoration: underline;
					}
	
					& .address-popup{
						opacity: 1;
						pointer-events: all;
						transform: none;
					}
				}
			}
		}

		& .settings-header{
			margin-top: 2rem;
			font-weight: 600;
			text-transform: uppercase;
		}

		& .settings{

			margin: 10px 0;
			display: flex;
			flex-wrap: wrap;

			& .setting{
				
				& input{

					display: none;

					& ~ label{
						display: block;
						width: 46px;
						aspect-ratio: 1 / 1;
						background-size: contain;
						margin-right: 4px;
						margin-bottom: 10px;
						border-radius: 50%;
						cursor: pointer;
						transition: box-shadow .2s;
					}

					&:checked ~ label{
						box-shadow: 0 0 0 4px $primary inset, 0 4px 10px rgba(black, .8) inset;
					}
				}
			}
		}
	}
	
	& .thumb{
		max-width: 100px;
		height: auto;
	}

	& ul.product-tabs{
		border: 1px solid #ccc;
		box-shadow: 0 4px 12px rgba(black, .1) inset;
		background-color: $menu_hover;
		margin: 0;
		display: flex;
		border-radius: 2rem;
		position: relative;
		overflow: hidden;
		
		& .product-tab{

			display: block;
			position: relative;
			z-index: 2;
			
			& a{
				display: block;
				font-size: 1.2rem;
				line-height: 2em;
				padding: 0 1em;
				border-radius: 2rem;
				transition: background-color .2s;
				white-space: nowrap;
				color: $text;
				font-weight: 500;
				text-align: center;
				
				&:hover{
					background-color: $menu_hover;
				}

			}
			&.active a{
				color: $primary;

				&:hover{
					background-color: #fff;
				}
			}

			@media(max-width: $medium){
				flex-grow: 1;
			}
		}
		
		& .indicator{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 1.6rem;
			background: #fff;
			box-shadow: 0 0 4px rgba(black, .2);
		}
	}

	& .tabs-content{
		padding: 20px 0;
	}

	& .chars{

		width: 100%;

		@media(min-width: $small){
			display: table;
		}

		& .kv-pair{

			margin-bottom: 1vmax;

			@media(min-width: $small){
				display: table-row;

				&:nth-child(odd){
					background: rgba(black, .05);
				}

				&:hover *{
					background-color: rgba(black, .1);
				}
			}

			& .key{

				color: $fogged;
				transition: background-color .2s;

				@media(min-width: $small){
					display: table-cell;
					padding: 6px 12px;
					width: 35%;
					transition: background-color .2s;
				}
			}

			& .value{
				font-weight: 500;
				font-size: 1.2rem;
				@extend .key;

				@media(min-width: $small){
					display: table-cell;
					width: unset;
				}
			}
		}
	}
}