body {
  font-family: 'Sofia Sans', 'Roboto', sans-serif;
  font-size: calc(16px + .15vmax);
  line-height: 1.5em;
  font-weight: 300;
  color: #333; }
  body .rur-sign {
    font-size: .9em; }
  body h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: #26C6DA;
    line-height: 1.2em; }
  body h2 {
    font-size: 3.4rem;
    font-weight: 740;
    color: #26C6DA;
    line-height: 1.5em; }
  body h3, body #main section#easy .easy-header, #main section#easy body .easy-header {
    font-size: 2.3rem;
    font-weight: 720;
    line-height: 1.5em; }
  body h4 {
    font-size: 1.2rem;
    font-weight: 680;
    text-transform: uppercase;
    line-height: 1.5em; }
  @media (max-width: 1200px) {
    body h1 {
      font-size: calc(2.5rem + 0.1vmax);
      line-height: 1em; }
    body h2 {
      font-size: calc(2rem + 0.1vmax);
      line-height: 1em; }
    body h3, body #main section#easy .easy-header, #main section#easy body .easy-header {
      font-size: calc(1.5rem + 0.1vmax);
      line-height: 1em; }
    body h4 {
      font-size: calc(1.2rem + 0.1vmax);
      line-height: 1em; } }

#main section#hero {
  position: relative;
  position: relative; }
  @media (min-width: 800px) {
    #main section#hero {
      min-height: 90vh; } }
  #main section#hero .lazy {
    width: 100%;
    aspect-ratio: 16 / 7;
    background-size: cover;
    background-position: right center; }
    #main section#hero .lazy:before, #main section#hero .lazy.offers-swiper:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 65%;
      height: 100%;
      background: linear-gradient(to right, white 50%, transparent); }
    #main section#hero .lazy:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 25%;
      width: 100%;
      background: linear-gradient(to bottom, transparent, white 90%); }
  #main section#hero .communication {
    position: absolute;
    z-index: 2;
    width: 40vw;
    left: 10vmax;
    top: 20%; }
    @media (max-width: 1200px) {
      #main section#hero .communication {
        width: 400px; } }
    #main section#hero .communication h1 {
      margin-top: 0; }
  #main section#hero .swiper-pagination {
    transform: translateX(-50%);
    z-index: 200;
    display: flex;
    position: absolute;
    bottom: 4vmax;
    left: 50%; }
    @media (max-width: 800px) {
      #main section#hero .swiper-pagination {
        position: relative;
        bottom: unset;
        margin: auto;
        justify-content: center; } }
    #main section#hero .swiper-pagination-bullet {
      display: block;
      width: .85rem;
      aspect-ratio: 1 / 1;
      margin: 5px;
      border-radius: 50%;
      background: #ccc;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) inset;
      transition: background-color .4s, box-shadow .4s; }
      #main section#hero .swiper-pagination-bullet-active {
        background-color: #2962FF;
        box-shadow: none; }
  @media (max-width: 800px) {
    #main section#hero .lazy {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1;
      background-position: unset;
      background-size: cover;
      -o-object-fit: right center;
         object-fit: right center;
      background-position: right center; }
      #main section#hero .lazy:before, #main section#hero .lazy.offers-swiper:after {
        display: none; }
    #main section#hero .communication {
      position: initial;
      padding: 20px;
      top: unset;
      left: unset;
      max-width: 100%;
      box-sizing: border-box;
      position: relative;
      z-index: 20; }
      #main section#hero .communication h1 {
        font-size: 32px; } }
  #main section#hero .main-hero-prev, #main section#hero .main-hero-next {
    position: absolute;
    top: 25%;
    left: 20px;
    z-index: 20;
    border: 1px solid #fff;
    color: #fff;
    height: 2em;
    line-height: 2em;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(23, 56, 105, 0.7); }
    @media (min-width: 600px) {
      #main section#hero .main-hero-prev, #main section#hero .main-hero-next {
        display: none; } }
  #main section#hero .main-hero-next {
    left: unset;
    right: 20px; }

#main section#categories .category {
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: #fff linear-gradient(to bottom, #fff, #F3F3F3);
  background-position: 0 0;
  overflow: hidden;
  box-shadow: 0 -4px 0 0 #2962FF inset, 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: background-position .2s; }
  #main section#categories .category:hover {
    background-position: 0 90px; }
  #main section#categories .category .lazy {
    display: block;
    aspect-ratio: 1 / 1;
    height: 7vmax;
    min-height: 120px;
    flex-shrink: 0;
    background-size: contain; }
  #main section#categories .category .category-info {
    flex-grow: 1;
    padding: 0 20px; }
    #main section#categories .category .category-info .category-name {
      font-weight: 600;
      font-size: 1.6rem; }
    #main section#categories .category .category-info .category-desc {
      color: #777; }
  @media (max-width: 1500px) and (min-width: 1200px) {
    #main section#categories .category {
      flex-direction: column;
      text-align: center;
      align-items: flex-start; }
      #main section#categories .category .lazy {
        aspect-ratio: unset;
        width: 100%;
        height: unset;
        aspect-ratio: 4 / 2.5;
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-position: top left;
           object-position: top left; }
      #main section#categories .category .category-info {
        border-top: 1px solid #ccc;
        width: 100%;
        padding: 10px 0; }
      #main section#categories .category:hover {
        background-position: 0 130px; } }
  @media (max-width: 700px) and (min-width: 600px) {
    #main section#categories .category {
      flex-direction: column;
      text-align: center;
      align-items: flex-start; }
      #main section#categories .category .lazy {
        aspect-ratio: unset;
        width: 100%;
        height: unset;
        aspect-ratio: 4 / 2.5;
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-position: top left;
           object-position: top left; }
      #main section#categories .category .category-info {
        border-top: 1px solid #ccc;
        width: 100%;
        padding: 10px 0; }
      #main section#categories .category:hover {
        background-position: 0 130px; } }

#main section .main-water-pagination {
  bottom: -20px; }

#main section#mobile-app {
  background-color: #2962FF;
  color: #fff; }
  #main section#mobile-app .desktop-header {
    display: inline-block; }
    @media (max-width: 1100px) {
      #main section#mobile-app .desktop-header {
        display: none; } }
  #main section#mobile-app .mobile-header {
    display: block; }
    @media (min-width: 1100px) {
      #main section#mobile-app .mobile-header {
        display: none; } }
  @media (max-width: 800px) {
    #main section#mobile-app .text-content {
      order: 1; } }
  #main section#mobile-app .text-content .desktop-text {
    display: block; }
    @media (max-width: 1100px) {
      #main section#mobile-app .text-content .desktop-text {
        display: none; } }
  #main section#mobile-app .text-content .mobile-text {
    display: block; }
    @media (min-width: 1100px) {
      #main section#mobile-app .text-content .mobile-text {
        display: none; } }
  #main section#mobile-app .row {
    margin: 0; }
    #main section#mobile-app .row .col {
      padding-bottom: 0; }
      #main section#mobile-app .row .col .row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
  #main section#mobile-app h2 {
    line-height: 1em;
    margin: 0;
    color: #fff;
    font-size: clamp(1.8em, 2vw, 3em); }
  #main section#mobile-app .section-wrapper {
    height: 100%; }
    #main section#mobile-app .section-wrapper .section-image {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: right center;
         object-position: right center; }
      @media (max-width: 800px) {
        #main section#mobile-app .section-wrapper .section-image.desktop-image {
          display: none; } }
    @media (min-width: 800px) {
      #main section#mobile-app .section-wrapper .mobile-image {
        display: none !important; } }
  #main section#mobile-app .store-buttons {
    margin-bottom: 4vmax; }
    #main section#mobile-app .store-buttons a {
      margin: 20px 0;
      display: inline-block;
      margin: 0 5px; }
      #main section#mobile-app .store-buttons a img {
        display: block;
        height: 40px; }
  #main section#mobile-app .qrs {
    display: flex; }
    #main section#mobile-app .qrs img {
      width: 10vw;
      max-width: 130px;
      display: block;
      margin-right: 20px; }

#main section .offers-swiper {
  position: relative; }
  #main section .offers-swiper .swiper-slide {
    width: -moz-fit-content;
    width: fit-content; }
  #main section .offers-swiper img {
    height: 400px;
    width: auto;
    border-radius: 8px; }
  #main section .offers-swiper ~ .swiper-pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0; }
    #main section .offers-swiper ~ .swiper-pagination .swiper-pagination-bullet {
      display: block;
      width: .85rem;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      margin: 5px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
      transition: background-color .2s, box-shadow .2s; }
      #main section .offers-swiper ~ .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        box-shadow: 0;
        background-color: #2962FF; }
  #main section .offers-swiper:before, #main section .offers-swiper:after {
    content: '';
    display: block;
    width: 3vmax;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background: linear-gradient(to right, white, transparent);
    pointer-events: none;
    opacity: 0; }
  #main section .offers-swiper:after {
    background: linear-gradient(to left, white, transparent);
    left: unset;
    right: 0;
    opacity: 1; }

#main section#easy .easy-image {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1; }

#main section#easy .easy-header {
  text-transform: uppercase;
  margin: 20px 0; }
