#service h2 {
  margin: 0; }

#service h3 {
  margin-top: 0; }

#service #hero {
  position: relative;
  margin-bottom: 4vmax; }
  @media (min-width: 800px) {
    #service #hero {
      min-height: 80vh; } }
  #service #hero .lazy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center; }
    @media (min-width: 1900px) {
      #service #hero .lazy {
        background-position: right -10vmax center; } }
    @media (max-width: 1900px) {
      #service #hero .lazy {
        background-position: right -15vmax center; } }
    @media (max-width: 1200px) {
      #service #hero .lazy {
        background-size: cover;
        background-position: right -35vmax center; } }
    #service #hero .lazy:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #161A22 55%, transparent 65%); }
  #service #hero .communication {
    position: absolute;
    z-index: 2;
    width: 900px;
    left: 10vmax;
    top: 20%; }
    @media (max-width: 1900px) {
      #service #hero .communication {
        width: 700px; } }
    #service #hero .communication p {
      color: #fff; }
    @media (max-width: 1200px) {
      #service #hero .communication {
        width: 400px; } }
    #service #hero .communication h1 {
      margin-top: 0; }
    #service #hero .communication p {
      margin-left: 10vmax; }
      @media (max-width: 1900px) {
        #service #hero .communication p {
          margin-left: 0; } }
  @media (max-width: 800px) {
    #service #hero .lazy {
      position: relative;
      width: 100%;
      aspect-ratio: 16 / 9;
      background-position: unset;
      background-size: cover; }
      #service #hero .lazy:before {
        display: none; }
    #service #hero .communication {
      position: initial;
      padding: 20px;
      top: unset;
      left: unset;
      width: 100%; }
      #service #hero .communication p {
        color: #333; } }

#service .parallax-container {
  position: relative; }
  #service .parallax-container .parallax {
    display: flex;
    align-items: center;
    justify-content: center; }
    #service .parallax-container .parallax:before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      z-index: 2;
      -webkit-backdrop-filter: blur(4px);
              backdrop-filter: blur(4px); }
    #service .parallax-container .parallax .parallax-text {
      z-index: 2;
      width: 50%;
      min-width: 300px;
      padding: 0 5vmin;
      text-align: center; }

#service #sanitarium {
  margin: 4vmax 0; }
