@import './vars';

body{

	& .bttn{
	
		background: $primary;
		color: #fff;
		padding: 0 15px;
		line-height: 1.6em;
		display: inline-block;
		border-radius: 1.6em;
	
		& .mdi{
			color: #fff;
		}
	}
	
	& .bttn-outline{
		@extend .bttn;
		background-color: transparent;
		color: $primary;
		box-shadow: 0 0 0 1px $primary inset;
	}
	
	& .bttn-flat{
		@extend .bttn-outline;
		box-shadow: none;
	}

	& .bttn-large{
		@extend .bttn;
		font-size: 1.6rem;
		padding: 0 28px;
		line-height: 2em;
	}
}
