footer{
	background-color: $primary;
	padding: 2vmax 0;

	color: #fff;

	& .footer-header{
		@extend h4;
	}

	& a{
		color: #fff;

		&.underline{
			text-decoration: underline;
		}
		
		&.logo{

			display: block;
			width: 220px;
			max-height: 80px;
			max-width: 100%;
			margin-bottom: 40px;
			aspect-ratio: 2.6 / 1;
			background-color: transparent;
			background-image: url(/img/logo-dark.svg);
			background-size: contain;
			background-position: top left;
			background-repeat: no-repeat;
		}
	}

	& + .footer-copyright{

		padding: .6rem 0;
		background-color: darken($primary, 10);

		color: #fff;

		& a{
			color: #fff;
		}

		& strong{
			font-weight: 800;
		}

		& .container{
			display: flex;

			& .copyright{
				flex-grow: 1;
			}
		}

		@media(max-width: $medium){

			& .container{
				display: block;
				text-align: center;
			}
		}
	}

	.appstore{

		@media(max-width: $extra-large){
			order: 1;
		}
	}

	& .app-icons{
		margin-top: 20px;
	}

	.app-icon{
		border: 1px solid #fff;
		padding: 4px 16px;
		display: inline-block;
		border-radius: 4px;

		&:hover{
			background-color: rgba(#fff, .1);
		}

		& i{
			margin-right: 6px;
		}
	}
}