//= Media queries ========================================
//= Less, then extra-small	// T (tiny)
$extra-small: 400px;				// XS (extra-small)
$small: 600px;						// S (small)
$medium: 800px;						// M (medium)
$large: 1200px;						// L (large)
$medi-large: 1500px;				// ML (medi-large)
$extra-large: 1900px;				// XL (extra-large)
$huge: 1901px;						// H (huge)

//= Columns gutter =======================================
$cols: 12;								// Column-count
$gutter-width: 20px;			// Space between columns

$primary: #2962FF;
$secondary: #26C6DA;
$text: #333;
$fogged: #777;
$success: #00aa41;
$critical: #ff004c;
$orange: #F2994A;

$menu_hover: rgba(black, .05);
$border-radius: 8px;
$padding: 2vmin;